@font-face {
    font-family: 'BioRhyme';
    src: url('Fonts/BioRhyme/BioRhyme-Regular.ttf');
  }
  @font-face {
    font-family: 'Lato';
    src: url('Fonts/Lato/Lato-Regular.ttf');
  }
  @font-face {
    font-family: 'Macondo';
    src: url('Fonts/Macondo/Macondo-Regular.ttf');
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat/Montserrat-Regular.ttf');
  }
  @font-face {
    font-family: 'Open Sans';
    src: url('Fonts/Open_Sans/OpenSans-Regular.ttf');
  }
  @font-face {
    font-family: 'Open Sans light';
    src: url('Fonts/Open_Sans/OpenSans-Light.ttf');
  }
  @font-face {
    font-family: 'PT Sans';
    src: url('Fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
  }
  @font-face {
    font-family: 'Press Start 2P';
    src: url('Fonts/Press_Start_2P/PressStart2P-Regular.ttf');
  }
  @font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: 'Fairview';
    src: url('Fonts/Fairview/Fairview-Regular.otf');
  }
  @font-face {
    font-family: 'DejaVu';
    src: url('Fonts/DejaVu/DejaVu-Regular.ttf');
  }
  @font-face {
    font-family: 'Amatic';
    src: url('Fonts/Amatic/Amatic-Regular.ttf');
  }
  @font-face {
    font-family: 'Maven';
    src: url('Fonts/Maven/Maven-Regular.ttf');
  }

  @font-face {
    font-family: 'Poppin';
    src: url('Fonts/Poppins/Poppins-Bold.ttf');
  }

  @font-face {
    font-family: 'IBM';
    src: url('Fonts/IBM/IBM-Bold.ttf');
  }

  @font-face {
    font-family: 'Lora';
    src: url('Fonts/Lora/Lora-Regular.ttf');
  }

  @font-face {
    font-family: 'Noticia';
    src: url('Fonts/Noticia/Noticia-Regular.ttf');
  }
  