@import 'layout';
@import 'back';

.front-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .id {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0px;
            left: 0px;
            display: flex;
            z-index: 3;
        }
        .project {
            flex-direction: column;
            &:hover{
                .project-infos{
                    opacity: 1;
                }
            }
            img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
            .project-infos {
                opacity: 0;
                height: 100%;
                width: 100%;
                padding-bottom: 25px;
                position: absolute;
                bottom: 0px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.493) , rgba(255, 255, 255, 0.103));
                transition: all 0.1s linear;
                hr{
                    margin: 0px 0px;
                    background-color: rgb(63, 63, 63);
                    margin-left: 40px;
                    width: 60%;
                }

                .summary{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-start;
                    h1 {
                        color: rgb(78, 78, 78);
                        font-family: $secondary-font;
                        font-size: 28px;
                        margin: 0px 0px 0px 50px;
                    }
                    p {
                        font-size: 14px;
                        color: rgb(78, 78, 78);
                        padding-bottom: 4px;
                        padding-left: 50px;
                        // padding: 0px 120px;
                    }
                }

                .meta-data {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-left: 85px;
                    padding-top: 3px;
                    width: 100%;
                    p {
                        font-size: 12px;
                        color: rgb(78, 78, 78);
                    }
                    .context{
                        padding-left: 5px;
                        padding-right: 2px;
                    }
                }

                
            }
        }
        .primary-project-wrapper{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .project{
                width: 100%;
            }
        }

        hr {
            width: 80%;
            height: 1px;
            background: rgb(170, 170, 170);
            border: 0;
            margin: 25px 0px;
        }

        .secondary-projects-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            margin: 20px 0px;
            .project {
                width: 49%;
                display: flex;
                flex-direction: column;

            }
        }

        .all-projects-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            .project {
                width: 32%;
                display: flex;
                flex-direction: column;
                margin: 20px 0px;
                img {
                    min-width: 100%;
                    height: auto;
                }
            }
        }

    }
    .go-top {
        $size: 75px;
        position: fixed;
        width: $size;
        height: $size;
        bottom: 45px;
        right: 45px;
        opacity: 0.5;
        img{
            width: 100%;
        }
    }
}

.front-project-wrapper {
    position: absolute;
    top:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    .front-project{
        color: rgb(77, 77, 77);
        margin-top: 50px;
        width: 1000px;
        background-color: white;
        box-shadow: 0px 0px 15px black;
        .image-wrapper{
            width: 100%;
            display: block;
            img{
                width: 100%;
                vertical-align: top;
            }
        }

        header {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            background-color: white;
            justify-content: flex-start;
            padding: 20px 0px 20px 120px;
            h1 {
                font-family: "Open Sans";
                font-size: 42px;
            }
            .meta-data {
                padding-bottom: 7px;
                padding-left: 30px;
                .role {
                    padding-left: 5px;
                }
            }
        }


        .description {
            padding: 0px 70px 70px 70px;
            line-height: 36px;
        }


    }
}
