{% extends 'base.html.twig' %}
{% block bodyclass %}front-body{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block header %}
    <header>
    <div class="title">
        <h1>Ludovic Moge</h1>
        <h2>- Game designer -</h2>
    </div>
        {# <nav>
            <a class="filled" href="#"><span class="navigation-icon home"></a>
            <div class="loading-bar loading-completed"></div>
            <a class="filled" href="#"><span class="navigation-icon about"></span></a>
            <div class="loading-bar"></div>
            <a class="" href="#"><span class="navigation-icon contact"></span></a>
            <div class="loading-bar"></div>
            <a class="" href="#"><span class="navigation-icon resume"></a>
        </nav> #}
    </header>
{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}
