{% extends 'front/base.html.twig' %}

{% block body %}

<div class="projects">
    <div class="primary-project-wrapper">
        {% include 'front/project-summary.html.twig' with { "project" : projects[0]} %}
    </div>
    <hr/>
    <div class="secondary-projects-wrapper">
        {% for i in range(1, 2) %}
            {% include 'front/project-summary.html.twig' with { "project" : projects[i]} %}
        {% endfor %}
    </div>
    <div class="all-projects-wrapper">
        {% for i in range(3, projects|length - 1) %}
            {% include 'front/project-summary.html.twig' with { "project" : projects[i]} %}
        {% endfor %}
    </div>
</div>

<div class="go-top"><img src="images/arrow-top.svg"><div>

{% endblock %}
        
{% block javascripts %} {{ parent() }} {% endblock %}
