{% extends 'base.html.twig' %}

{% block body %}

<div class="projects">
    {% for project in projects %}
        <div>{{ project.name }}</div>
    {% endfor %}
</div>

{% endblock %}
        
{% block javascripts %}{% endblock %}