<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ludovic Moge - Game Designer{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The game design portfolio of Ludovic Moge">
        <meta name="keywords" content="ludovic, moge, ludovic moge, design, graphic design, mobile, mobile design, development,developpement, unique, fun, small business, game, design, game design, entreprises, personal, portfolio, jeu, jeu video, video">
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset("build/js/app.js")}}"></script>
        {% endblock %}
    </body>
</html>
